@use 'variaveis';

.hero {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;

    &__content {
        min-height: 95vh;
        padding: 0 5vw ;
        background-image: url(../images/senna.png);
        background-size: cover;

        @media (max-width: 768px) { 
            background-image: url(../images/senna-cel.jpg);
            padding-top: calc(50vw + 25px);
            background-size: contain;
            background-repeat: no-repeat;
        }


        &__image {  
            img {
                max-width: 504px;
                margin: 200px auto 0;

                @media (max-width: 768px) { 
                    max-width: 303px;
                    margin: 0;
                }
            }
        }
        
        .text {
            margin-top: 40px;

            @media (max-width: 768px) { 
                font-size: 24px;
            }
        }

        &__infos {
            display: flex;
            justify-content: start;

            &__info {
                display: flex;

                .title-info,
                .title-info--big {
                    margin: 16px 4px 0;

                    &:first-child {
                        margin-left: 0;
                    }

                }

                .text-l {
                    border: 1px solid variaveis.$corTextoSecundario;
                    padding: 0 5px;
                }
            }
        }

        &__texts {
            max-width: 580px;

            p {
                padding-top:16px ;
                margin: 0;
                font-weight: 100;
                letter-spacing: 1;
            }

            @media (max-width: 768px){
                padding-top: 140px;      
                
                p {
                    &:last-child {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .plans {
        @media (max-width: 768px){
            margin-top: -330px;
        }
        &__content {
            margin: -64px 96px 32px;
            background: linear-gradient(90deg, #6c1f41 -3.05%, #220e0f 99.59%);
            border-radius: 4px;

            @media (max-width: 768px){
                margin: 0 5vw;
            }

            &__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px;

                h3 {
                    margin: 0;
                }
                &__image {
                    max-width: 25px;
                    margin: 0;
                    padding: 0 15px 0;

                    @media (max-width: 768px){
                        max-width: 35px;
                        padding: 0 15px 0 0;
                    }
                }

                .button {
                    color: variaveis.$corTexto;
                    text-decoration: none;
                    font-size: 15px;
                    text-align: center;
                    border-radius: 2px ;
                    cursor: pointer;
                    margin: 5px 25px;

                    &--red {
                        background-color: variaveis.$corButton;
                        border: 0;
                        padding: 9px 65px;
                        font-weight: bold;
    
                        &:hover {
                            background-color: lighten(variaveis.$corButton, 3%);
                        }

                        @media (max-width: 768px){
                            padding: 9px 24px;
                            font-size: 15px;
                        }
        
                    }
                }
            }
        }
    }

}