.shows {   
    padding: 25px 5vw ;
    max-width: 1600px;
    margin: 0 auto;

    @media (max-width: 768px){
        margin-top: -75px;    
    }

    .text--big {
        margin-bottom: 10px;

        @media (max-width: 768px){
            font-size: 16px;   
            font-weight: 100;
            letter-spacing: .5px;
            margin-bottom: 2px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 12px;
        max-width: 100%;

        @media (max-width: 768px){
            grid-template-columns: 1fr 1fr;     
            
            &__phone {
                margin-top: 30px;
                font-size: 14px;
                font-weight: 100;
                letter-spacing: .5px;
            }
        }

        &__phone {
            display: none;
        }

        &__itens {
            img {
                max-width: 100%;
            }
        }

        &__info {
            margin-top: 50px;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            @media (max-width: 768px){
                display: none;      
            }

        }
    }
}